
# -- --------------------------------------------------------------------------------------------------- -- #
# -- Project: Masters in Data Science Thesis Project                                                     -- #
# -- Statistical Learning and Genetic Methods to Design, Optimize and Calibrate Trading Systems          -- #
# -- File: requirements.txt - python libraries required for the project                                  -- #
# -- Author: IFFranciscoME - if.francisco.me@gmail.com                                                   -- #
# -- License: GPL-3.0 License                                                                            -- #
# -- Repository: https://github.com/IFFranciscoME/Msc_Thesis                                             -- #
# -- --------------------------------------------------------------------------------------------------- -- #


# -- Artificial Intelligence Tools
deap>=1.3.1
gplearn>=0.4.1
tensorflow==2.4.1

# -- Special case for project
"""
1) Local Machine: Install version 2.4.1
2) Ludwig Cluster: Install directly with tensorflow-2.4.1-cp38-cp38-linux_x86_64.whl   
"""

# -- Data science tools
scikit-learn>=0.23
keras>=2.4.3
statsmodels>=0.12.2

# -- Generic
pandas>=1.1.4
numpy>=1.20

# -- Complementary
rich>=9.5
requests>=2.24

# -- Visualization
plotly>=4.12
chart_studio>=1.1.0
jupyter>=1.0
matplotlib>=3.4.1
seaborn>=0.11.1
